/.idea
/crash-reports
/config-template
/logs
/defaultconfigs
/natives
/saves
/schematics
/screenshots
/config/voicechat/username-cache.json
/config/jei/*-sort-order.ini
/config/jei/world
/config/opentoonline-client.toml
/config/sound_physics_remastered
OstLan 1.18.2.jar
usercache.json
usernamecache.json
*.bak