/.idea
/crash-reports
/config-*
/logs
/refs
/defaultconfigs
/natives
/saves
/schematics
/screenshots
/config/voicechat/username-cache.json
/config/voicechat/voicechat-volumes.properties
/config/jei/*-sort-order.ini
/config/jei/world
/config/opentoonline-client.toml
/config/sound_physics_remastered
/config/oculus.properties
OstLan 1.18.2.jar
usercache.json
usernamecache.json
*.bak